/* common css start  */
h1, h2, h3, h4, h5, h6,
ol, ul, p, small.span, button {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Arimo", sans-serif;
}

/* common css end  */
#topbar {
  background: #2d3e50;
}
#topbar .topber_info a {
  display: inline-block;
  margin-right: 12px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding: 13px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#topbar .topber_info a:hover {
  color: #fcbf65;
}
#topbar .topber_info a i {
  margin-right: 6px;
}
#topbar .topber_regster a {
  display: inline-block;
  padding: 13px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  margin-left: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#topbar .topber_regster a:hover {
  color: #fcbf65;
}

.nav .logo img {
  display: inline-block;
  margin-top: -25px;
}
.nav .nav_ul {
  margin-left: 100px;
}
.nav .nav_ul .nav_li {
  padding: 40px 22px;
}
.nav .nav_ul .nav_li a {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: #2d3e50;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav .nav_ul .nav_li a:hover {
  color: #fcbf65;
}
.nav .nav_ul .nav_li a.n_active {
  color: #fcbf65;
}
.nav .nav_btn {
  margin-left: 10px;
}
.nav .nav_btn a {
  padding: 19px;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  background: #fcbf65;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav .nav_btn a:hover {
  background: #2d3e50;
}

#banner {
  position: relative;
}
#banner .banner_slider_icon .banner_slider_icon_btn {
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
}
#banner .banner_slider_icon .banner_slider_icon_btn.prev {
  left: 30px;
}
#banner .banner_slider_icon .banner_slider_icon_btn.next {
  right: 30px;
}
#banner .banner_slider_icon .banner_slider_icon_btn span i {
  font-size: 20px;
  color: #fff;
  width: 67px;
  height: 67px;
  line-height: 67px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#banner .banner_slider_icon .banner_slider_icon_btn span i:hover {
  background: #fbaa33;
  color: #fff;
  border-color: #fbaa33;
}
#banner .banner_slider .banner_slider_item {
  background-position: center;
  background-size: cover;
  height: 646px;
}
#banner .banner_slider .banner_slider_item h4 {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
}
#banner .banner_slider .banner_slider_item h2 {
  font-size: 52px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 28px;
}
#banner .banner_slider .banner_slider_item p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 58px;
  line-height: 1.7;
}
#banner .banner_slider .banner_slider_item .b_btn a {
  padding: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  background: #2d3e50;
  border-radius: 10px;
  margin-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#banner .banner_slider .banner_slider_item .b_btn a:hover {
  background: #fbaa33;
}
#banner .banner_blog .banner_blog_thum {
  border-color: #d3d3d3;
  position: absolute;
  bottom: -140px;
}
#banner .banner_blog .banner_blog_thum .banner_blog_item {
  background: #f5f5f5;
  width: 365px;
  padding: 30px 0px;
  border-right: 1px solid #d3d3d3;
}
#banner .banner_blog .banner_blog_thum .banner_blog_item p {
  font-size: 24px;
  font-weight: 400;
  color: #444444;
  margin: 20px 0;
}
#banner .banner_blog .banner_blog_thum .banner_blog_item a {
  font-size: 14px;
  color: #999999;
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#banner .banner_blog .banner_blog_thum .banner_blog_item a:hover {
  color: #fbaa33;
}
#banner .banner_blog .banner_blog_thum .banner_blog_item a i {
  margin-left: 5px;
}

.title h3 {
  font-size: 32px;
  font-weight: 700;
  color: #2d3e50;
  margin-bottom: 20px;
}
.title p {
  width: 562px;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  line-height: 1.7;
  margin-bottom: 56px;
}

#about {
  margin-top: 233px;
}
#about .shap {
  margin-bottom: 5px;
}
#about .shap .span_1 {
  background: #fbaa33;
  height: 3px;
  width: 359px;
}
#about .shap .span_2 {
  background: #fbaa33;
  height: 3px;
  width: 7px;
}
#about .shap_2 .span_1 {
  background: #2d3e50;
  height: 3px;
  width: 7px;
}
#about .shap_2 .span_2 {
  background: #2d3e50;
  height: 3px;
  width: 359px;
}
#about .about_img_slider {
  position: relative;
}
#about .about_img_slider .about_img_slider_dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 9px;
  right: 50%;
}
#about .about_img_slider .about_img_slider_dots li button {
  background: none;
  font-size: 0;
  width: 7px;
  height: 7px;
  border: 1px solid #999999;
  border-radius: 50%;
  margin-right: 5px;
}
#about .about_img_info {
  margin-top: 50px;
}
#about .about_img_info p {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  line-height: 1.7;
  margin-bottom: 34px;
}
#about .about_img_info .a_btn {
  margin-top: 55px;
}
#about .about_img_info .a_btn a {
  padding: 19px;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  background: #fbaa33;
  border-radius: 10px;
  margin-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#about .about_img_info .a_btn a:hover {
  background: #2d3e50;
}

#counter_up {
  background: url(../img/counter_bg.jpg);
  background-position: center;
  background-size: cover;
  height: 168px;
  margin-top: 100px;
}
#counter_up .counter_up_item {
  padding: 40px 0;
}
#counter_up .counter_up_item h3 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 9px;
}
#counter_up .counter_up_item p {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}
#counter_up .counter_up_item .shap .shap_1 {
  background: #fbaa33;
  width: 50px;
  height: 3px;
  margin-right: 7px;
}
#counter_up .counter_up_item .shap .shap_2 {
  background: #fbaa33;
  width: 10px;
  height: 3px;
}

#courses {
  margin-top: 100px;
  position: relative;
}
#courses .course_box_slider_icon .course_box_slider_icon_btn {
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
}
#courses .course_box_slider_icon .course_box_slider_icon_btn.prev {
  left: 30px;
}
#courses .course_box_slider_icon .course_box_slider_icon_btn.next {
  right: 30px;
}
#courses .course_box_slider_icon .course_box_slider_icon_btn span i {
  font-size: 20px;
  color: #2d3e50;
  width: 67px;
  height: 67px;
  line-height: 67px;
  border: 2px solid #2d3e50;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#courses .course_box_slider_icon .course_box_slider_icon_btn span i:hover {
  background: #fbaa33;
  color: #fff;
  border-color: #fbaa33;
}
#courses .course_box_slider .courses_box {
  padding: 18px;
  background: #f5f5f5;
  width: 366px !important;
  position: relative;
  margin-left: 0;
  margin-right: 8px;
}
#courses .course_box_slider .courses_box .courses_box_img {
  position: relative;
  overflow: hidden;
}
#courses .course_box_slider .courses_box .courses_box_img:hover .overlay {
  visibility: hidden;
  opacity: 1;
}
#courses .course_box_slider .courses_box .courses_box_img:hover .overlay a {
  visibility: visible;
  opacity: 1;
}
#courses .course_box_slider .courses_box .courses_box_img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#courses .course_box_slider .courses_box .courses_box_img img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#courses .course_box_slider .courses_box .courses_box_img .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#courses .course_box_slider .courses_box .courses_box_img .overlay a {
  position: absolute;
  top: 40%;
  right: 40%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  background: #fbaa33;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#courses .course_box_slider .courses_box .courses_box_profile {
  margin-top: 20px;
}
#courses .course_box_slider .courses_box .courses_box_profile img {
  margin-right: 10px;
}
#courses .course_box_slider .courses_box .courses_box_profile .name span {
  font-size: 13px;
  font-weight: 400;
  color: #444444;
}
#courses .course_box_slider .courses_box .courses_box_profile .name p {
  font-size: 15px;
  font-weight: 400;
  color: #444444;
}
#courses .course_box_slider .courses_box .courses_box_profile .ratting {
  margin-left: 30px;
}
#courses .course_box_slider .courses_box .courses_box_profile .ratting .star {
  color: #fbaa33;
}
#courses .course_box_slider .courses_box .courses_box_profile .ratting p {
  color: #999999;
  font-size: 13px;
  font-weight: 400;
}
#courses .course_box_slider .courses_box .title {
  margin: 18px 0;
  font-size: 24px;
  font-weight: 400;
  color: #222222;
}
#courses .course_box_slider .courses_box p {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
}
#courses .course_box_slider .courses_box hr {
  margin-top: 30px;
  margin-bottom: 15px;
}
#courses .course_box_slider .courses_box .course_info {
  margin-bottom: 28px;
}
#courses .course_box_slider .courses_box .course_info .course_info_item {
  margin-right: 30px;
}
#courses .course_box_slider .courses_box .course_info .course_info_item p {
  font-size: 13px;
  font-weight: 400;
  color: #999999;
}
#courses .course_box_slider .courses_box .course_info .course_info_item span {
  font-size: 13px;
  font-weight: 400;
  color: #444444;
}
#courses .course_box_slider .courses_box .course_btn a {
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: #2d3e50;
  border-radius: 10px;
  text-transform: capitalize;
  position: absolute;
  left: 118px;
  bottom: -34px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 100000000000000000000;
}
#courses .course_box_slider .courses_box .course_btn a:hover {
  background: #fbaa33;
}

#event {
  margin-top: 100px;
}
#event .event_blog .event_blog_item {
  background: #f5f5f5;
  padding: 19px;
  margin-bottom: 30px;
}
#event .event_blog .event_blog_item .event_blog_item_img {
  width: 212px !important;
  height: 212px;
  overflow: hidden;
  margin-right: 20px;
}
#event .event_blog .event_blog_item .event_blog_item_img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#event .event_blog .event_blog_item .event_blog_item_img img {
  width: 212px;
  height: 212px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#event .event_blog .event_blog_item .event_blog_item_info h5 a {
  font-size: 20px;
  font-weight: 700;
  color: #2d3e50;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#event .event_blog .event_blog_item .event_blog_item_info h5 a:hover {
  color: #fbaa33;
}
#event .event_blog .event_blog_item .event_blog_item_info p {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 13px;
}
#event .event_blog .event_blog_item .event_blog_item_info .time p {
  font-size: 13px;
  font-weight: 400;
  color: #777777;
  margin-right: 20px;
}
#event .event_blog .event_blog_item .event_blog_item_info .time p i {
  color: #2d3e50;
  margin-right: 5px;
}
#event .event_blog .event_blog_item .event_blog_item_info .event_btn a {
  display: inline-block;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: #2d3e50;
  text-transform: capitalize;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#event .event_blog .event_blog_item .event_blog_item_info .event_btn a:hover {
  background: #fbaa33;
}

#testimonial {
  margin-top: 100px;
  background: #f5f5f5;
  position: relative;
  padding: 58px 0;
}
#testimonial .testimonial_slider_icon .testimonial_slider_icon_btn {
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
}
#testimonial .testimonial_slider_icon .testimonial_slider_icon_btn.prev {
  top: 380px;
  left: 30px;
}
#testimonial .testimonial_slider_icon .testimonial_slider_icon_btn.next {
  top: 450px;
  left: 30px;
}
#testimonial .testimonial_slider_icon .testimonial_slider_icon_btn span i {
  font-size: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #2d3e50;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#testimonial .testimonial_slider_icon .testimonial_slider_icon_btn span i:hover {
  background: #fbaa33;
  color: #fff;
  border-color: #fbaa33;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_img {
  width: 300px;
  margin-right: 20px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_img .shap {
  margin-bottom: 5px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_img .shap .span_1 {
  background: #fbaa33;
  height: 3px;
  width: 209px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_img .shap .span_2 {
  background: #fbaa33;
  height: 3px;
  width: 7px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_img .shap_2 .span_1 {
  background: #2d3e50;
  height: 3px;
  width: 7px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_img .shap_2 .span_2 {
  background: #2d3e50;
  height: 3px;
  width: 209px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_info {
  width: 419px;
  margin-right: 40px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_info p {
  margin-top: 67px;
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 30px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_info h5 {
  font-size: 20px;
  font-weight: 700;
  color: #444444;
  margin-left: 10px;
  margin-bottom: 15px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_info h5 span {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_info .star {
  margin-left: 10px;
  color: #fbaa33;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_qna {
  width: 370px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_qna .qna_select .para {
  width: 370px !important;
}

#teacher {
  margin-top: 100px;
}/*# sourceMappingURL=style.css.map */