/* common css start  */
h1, h2, h3, h4, h5, h6,
ol, ul, p, small.span, button {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Arimo", sans-serif;
}

/* common css end  */
#topbar {
  background: #2d3e50;
}
#topbar .topber_info a {
  display: inline-block;
  margin-right: 12px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding: 13px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#topbar .topber_info a:hover {
  color: #fcbf65;
}
#topbar .topber_info a i {
  margin-right: 6px;
}
#topbar .topber_regster a {
  display: inline-block;
  padding: 13px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  margin-left: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#topbar .topber_regster a:hover {
  color: #fcbf65;
}

.nav .logo img {
  display: inline-block;
  margin-top: -25px;
}
.nav .nav_ul {
  margin-left: 100px;
}
.nav .nav_ul .nav_li {
  padding: 40px 22px;
}
.nav .nav_ul .nav_li a {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: #2d3e50;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav .nav_ul .nav_li a:hover {
  color: #fcbf65;
}
.nav .nav_ul .nav_li a.n_active {
  color: #fcbf65;
}
.nav .nav_btn {
  margin-left: 10px;
}
.nav .nav_btn a {
  padding: 19px;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  background: #fcbf65;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav .nav_btn a:hover {
  background: #2d3e50;
}

#banner {
  position: relative;
}
#banner .banner_slider_icon .banner_slider_icon_btn {
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
}
#banner .banner_slider_icon .banner_slider_icon_btn.prev {
  left: 30px;
}
#banner .banner_slider_icon .banner_slider_icon_btn.next {
  right: 30px;
}
#banner .banner_slider_icon .banner_slider_icon_btn span i {
  font-size: 20px;
  color: #fff;
  width: 67px;
  height: 67px;
  line-height: 67px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#banner .banner_slider_icon .banner_slider_icon_btn span i:hover {
  background: #fbaa33;
  color: #fff;
  border-color: #fbaa33;
}
#banner .banner_slider .banner_slider_item {
  background-position: center;
  background-size: cover;
  height: 646px;
}
#banner .banner_slider .banner_slider_item h4 {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
}
#banner .banner_slider .banner_slider_item h2 {
  font-size: 52px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 28px;
}
#banner .banner_slider .banner_slider_item p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 58px;
  line-height: 1.7;
}
#banner .banner_slider .banner_slider_item .b_btn a {
  padding: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  background: #2d3e50;
  border-radius: 10px;
  margin-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#banner .banner_slider .banner_slider_item .b_btn a:hover {
  background: #fbaa33;
}
#banner .banner_blog .banner_blog_thum {
  border-color: #d3d3d3;
  position: absolute;
  bottom: -140px;
}
#banner .banner_blog .banner_blog_thum .banner_blog_item {
  background: #f5f5f5;
  width: 365px;
  padding: 30px 0px;
  border-right: 1px solid #d3d3d3;
}
#banner .banner_blog .banner_blog_thum .banner_blog_item p {
  font-size: 24px;
  font-weight: 400;
  color: #444444;
  margin: 20px 0;
}
#banner .banner_blog .banner_blog_thum .banner_blog_item a {
  font-size: 14px;
  color: #999999;
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#banner .banner_blog .banner_blog_thum .banner_blog_item a:hover {
  color: #fbaa33;
}
#banner .banner_blog .banner_blog_thum .banner_blog_item a i {
  margin-left: 5px;
}

.title h3 {
  font-size: 32px;
  font-weight: 700;
  color: #2d3e50;
  margin-bottom: 20px;
}
.title p {
  width: 562px;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  line-height: 1.7;
  margin-bottom: 56px;
}

#about {
  margin-top: 233px;
}
#about .shap {
  margin-bottom: 5px;
}
#about .shap .span_1 {
  background: #fbaa33;
  height: 3px;
  width: 359px;
}
#about .shap .span_2 {
  background: #fbaa33;
  height: 3px;
  width: 7px;
}
#about .shap_2 .span_1 {
  background: #2d3e50;
  height: 3px;
  width: 7px;
}
#about .shap_2 .span_2 {
  background: #2d3e50;
  height: 3px;
  width: 359px;
}
#about .about_img_slider {
  position: relative;
}
#about .about_img_slider .about_img_slider_dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 9px;
  right: 50%;
}
#about .about_img_slider .about_img_slider_dots li button {
  background: none;
  font-size: 0;
  width: 7px;
  height: 7px;
  border: 1px solid #999999;
  border-radius: 50%;
  margin-right: 5px;
}
#about .about_img_info {
  margin-top: 50px;
}
#about .about_img_info p {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  line-height: 1.7;
  margin-bottom: 34px;
}
#about .about_img_info .a_btn {
  margin-top: 55px;
}
#about .about_img_info .a_btn a {
  padding: 19px;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  background: #fbaa33;
  border-radius: 10px;
  margin-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#about .about_img_info .a_btn a:hover {
  background: #2d3e50;
}

#counter_up {
  background: url(../img/counter_bg.jpg);
  background-position: center;
  background-size: cover;
  height: 168px;
  margin-top: 100px;
}
#counter_up .counter_up_item {
  padding: 40px 0;
}
#counter_up .counter_up_item h3 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 9px;
}
#counter_up .counter_up_item p {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}
#counter_up .counter_up_item .shap .shap_1 {
  background: #fbaa33;
  width: 50px;
  height: 3px;
  margin-right: 7px;
}
#counter_up .counter_up_item .shap .shap_2 {
  background: #fbaa33;
  width: 10px;
  height: 3px;
}

#courses {
  margin-top: 100px;
  position: relative;
  margin-bottom: 100px;
}
#courses .course_box_slider_icon .course_box_slider_icon_btn {
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
}
#courses .course_box_slider_icon .course_box_slider_icon_btn.prev {
  left: 30px;
}
#courses .course_box_slider_icon .course_box_slider_icon_btn.next {
  right: 30px;
}
#courses .course_box_slider_icon .course_box_slider_icon_btn span i {
  font-size: 20px;
  color: #2d3e50;
  width: 67px;
  height: 67px;
  line-height: 67px;
  border: 2px solid #2d3e50;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#courses .course_box_slider_icon .course_box_slider_icon_btn span i:hover {
  background: #fbaa33;
  color: #fff;
  border-color: #fbaa33;
}
#courses .course_box_slider .courses_box {
  padding: 18px;
  background: #f5f5f5;
  width: 366px !important;
  position: relative;
  margin-left: 0;
  margin-right: 8px;
}
#courses .course_box_slider .courses_box .courses_box_img {
  position: relative;
  overflow: hidden;
}
#courses .course_box_slider .courses_box .courses_box_img:hover .overlay {
  visibility: visible;
  opacity: 1;
}
#courses .course_box_slider .courses_box .courses_box_img:hover .overlay a {
  visibility: visible;
  opacity: 1;
}
#courses .course_box_slider .courses_box .courses_box_img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#courses .course_box_slider .courses_box .courses_box_img img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#courses .course_box_slider .courses_box .courses_box_img .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#courses .course_box_slider .courses_box .courses_box_img .overlay a {
  position: absolute;
  top: 40%;
  right: 40%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  background: #fbaa33;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#courses .course_box_slider .courses_box .courses_box_profile {
  margin-top: 20px;
}
#courses .course_box_slider .courses_box .courses_box_profile img {
  margin-right: 10px;
}
#courses .course_box_slider .courses_box .courses_box_profile .name span {
  font-size: 13px;
  font-weight: 400;
  color: #444444;
}
#courses .course_box_slider .courses_box .courses_box_profile .name p {
  font-size: 15px;
  font-weight: 400;
  color: #444444;
}
#courses .course_box_slider .courses_box .courses_box_profile .ratting {
  margin-left: 30px;
}
#courses .course_box_slider .courses_box .courses_box_profile .ratting .star {
  color: #fbaa33;
}
#courses .course_box_slider .courses_box .courses_box_profile .ratting p {
  color: #999999;
  font-size: 13px;
  font-weight: 400;
}
#courses .course_box_slider .courses_box .title {
  margin: 18px 0;
  font-size: 24px;
  font-weight: 400;
  color: #222222;
}
#courses .course_box_slider .courses_box p {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
}
#courses .course_box_slider .courses_box hr {
  margin-top: 30px;
  margin-bottom: 15px;
}
#courses .course_box_slider .courses_box .course_info {
  margin-bottom: 28px;
}
#courses .course_box_slider .courses_box .course_info .course_info_item {
  margin-right: 30px;
}
#courses .course_box_slider .courses_box .course_info .course_info_item p {
  font-size: 13px;
  font-weight: 400;
  color: #999999;
}
#courses .course_box_slider .courses_box .course_info .course_info_item span {
  font-size: 13px;
  font-weight: 400;
  color: #444444;
}
#courses .course_box_slider .courses_box .course_btn a {
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: #2d3e50;
  border-radius: 10px;
  text-transform: capitalize;
  position: absolute;
  left: 118px;
  bottom: -34px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 100000000000000000000;
}
#courses .course_box_slider .courses_box .course_btn a:hover {
  background: #fbaa33;
}

#event .event_blog .event_blog_item {
  background: #f5f5f5;
  padding: 19px;
  margin-bottom: 30px;
}
#event .event_blog .event_blog_item .event_blog_item_img {
  width: 212px !important;
  height: 212px;
  overflow: hidden;
  margin-right: 20px;
}
#event .event_blog .event_blog_item .event_blog_item_img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#event .event_blog .event_blog_item .event_blog_item_img img {
  width: 212px;
  height: 212px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#event .event_blog .event_blog_item .event_blog_item_info h5 a {
  font-size: 20px;
  font-weight: 700;
  color: #2d3e50;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#event .event_blog .event_blog_item .event_blog_item_info h5 a:hover {
  color: #fbaa33;
}
#event .event_blog .event_blog_item .event_blog_item_info p {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 13px;
}
#event .event_blog .event_blog_item .event_blog_item_info .time p {
  font-size: 13px;
  font-weight: 400;
  color: #777777;
  margin-right: 20px;
}
#event .event_blog .event_blog_item .event_blog_item_info .time p i {
  color: #2d3e50;
  margin-right: 5px;
}
#event .event_blog .event_blog_item .event_blog_item_info .event_btn a {
  display: inline-block;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: #2d3e50;
  text-transform: capitalize;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#event .event_blog .event_blog_item .event_blog_item_info .event_btn a:hover {
  background: #fbaa33;
}

#testimonial {
  margin-top: 100px;
  background: #f5f5f5;
  position: relative;
  padding: 58px 0;
}
#testimonial .testimonial_slider_icon .testimonial_slider_icon_btn {
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
}
#testimonial .testimonial_slider_icon .testimonial_slider_icon_btn.prev {
  top: 380px;
  left: 30px;
}
#testimonial .testimonial_slider_icon .testimonial_slider_icon_btn.next {
  top: 450px;
  left: 30px;
}
#testimonial .testimonial_slider_icon .testimonial_slider_icon_btn span i {
  font-size: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #2d3e50;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#testimonial .testimonial_slider_icon .testimonial_slider_icon_btn span i:hover {
  background: #fbaa33;
  color: #fff;
  border-color: #fbaa33;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_img {
  width: 300px;
  margin-right: 20px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_img .shap {
  margin-bottom: 5px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_img .shap .span_1 {
  background: #fbaa33;
  height: 3px;
  width: 209px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_img .shap .span_2 {
  background: #fbaa33;
  height: 3px;
  width: 7px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_img .shap_2 .span_1 {
  background: #2d3e50;
  height: 3px;
  width: 7px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_img .shap_2 .span_2 {
  background: #2d3e50;
  height: 3px;
  width: 209px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_info {
  width: 419px;
  margin-right: 40px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_info p {
  margin-top: 67px;
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 30px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_info h5 {
  font-size: 20px;
  font-weight: 700;
  color: #444444;
  margin-left: 10px;
  margin-bottom: 15px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_info h5 span {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_info .star {
  margin-left: 10px;
  color: #fbaa33;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_qna {
  width: 370px;
}
#testimonial .testimonial_slider .testimonial_slider_item .testimonial_slider_item_qna .qna_select .para {
  width: 370px !important;
}

#teacher {
  margin-top: 100px;
}
#teacher .teacher_info {
  position: relative;
}
#teacher .teacher_info .teacher_info_img {
  position: relative;
  width: 268px;
  height: 300px;
}
#teacher .teacher_info .teacher_info_img:hover .social_icon {
  visibility: visible;
  opacity: 1;
}
#teacher .teacher_info .teacher_info_img .teacher_info_img_item {
  width: 268px;
  height: 300px;
  overflow: hidden;
}
#teacher .teacher_info .teacher_info_img .teacher_info_img_item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#teacher .teacher_info .teacher_info_img .teacher_info_img_item img {
  width: 268px;
  height: 300px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#teacher .teacher_info .teacher_info_img .social_icon {
  position: absolute;
  right: 30px;
  bottom: -15px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#teacher .teacher_info .teacher_info_img .social_icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
#teacher .teacher_info .teacher_info_img .social_icon a i {
  width: 40px;
  height: 40px;
  color: #fff;
  background: #2d3e50;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#teacher .teacher_info .teacher_info_img .social_icon a i:hover {
  background: #fbaa33;
}
#teacher .teacher_info .teacher_info_name {
  margin-top: 25px;
}
#teacher .teacher_info .teacher_info_name h5 {
  font-size: 20px;
  font-weight: 700;
  color: #444444;
  margin-bottom: 10px;
}
#teacher .teacher_info .teacher_info_name p {
  font-size: 16px;
  font-weight: 400;
  color: #444444;
}
#teacher .teacher_info .teacher_info_name .shap {
  margin-bottom: 5px;
}
#teacher .teacher_info .teacher_info_name .shap .span_1 {
  background: #fbaa33;
  height: 3px;
  width: 50px;
}
#teacher .teacher_info .teacher_info_name .shap .span_2 {
  background: #fbaa33;
  height: 3px;
  width: 10px;
}

#blog {
  background: url(../img/blog_bg.jpg);
  background-position: center;
  background-size: cover;
  height: 298px;
  margin-top: 100px;
}
#blog .blog_title {
  padding-top: 30px;
}
#blog .blog_title h3 {
  color: #fff;
}
#blog .blog_title p {
  color: #fff;
}

#blog_details {
  position: relative;
  top: -127px;
}
#blog_details .blog_details_thum {
  position: relative;
  width: 550px;
  margin-right: 20px;
}
#blog_details .blog_details_thum .blog_details_thum_img {
  width: 550px;
  height: 448px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#blog_details .blog_details_thum .blog_details_thum_img:hover a img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#blog_details .blog_details_thum .blog_details_thum_img:hover .social_links {
  visibility: visible;
  opacity: 1;
  right: 20px;
}
#blog_details .blog_details_thum .blog_details_thum_img a img {
  width: 550px;
  height: 448px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#blog_details .blog_details_thum .blog_details_thum_img .social_links {
  position: absolute;
  top: 40px;
  right: 0px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#blog_details .blog_details_thum .blog_details_thum_img .social_links a {
  display: block;
  margin-bottom: 10px;
}
#blog_details .blog_details_thum .blog_details_thum_img .social_links a i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background: #2d3e50;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#blog_details .blog_details_thum .blog_details_thum_img .social_links a i:hover {
  background: #fbaa33;
}
#blog_details .blog_details_thum .blog_details_thum_info {
  position: absolute;
  bottom: 20px;
  color: #fff;
  z-index: 1;
}
#blog_details .blog_details_thum .blog_details_thum_info::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  padding: 53px 0;
  padding-left: 108.5%;
  padding-right: 8px;
  z-index: -1;
}
#blog_details .blog_details_thum .blog_details_thum_info p {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  padding: 0 26px;
}
#blog_details .blog_details_thum .blog_details_thum_info a {
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
  padding: 0 26px;
  color: #fff;
}
#blog_details .blog_details_thum .blog_details_thum_info .date {
  padding: 0 26px;
  color: #fff;
}
#blog_details .blog_details_thum .blog_details_thum_info .date span {
  font-size: 13px;
  font-weight: 400;
}
#blog_details .blog_details_thum .blog_details_thum_info .date span i {
  margin-right: 8px;
}
#blog_details .blog_details_thum .blog_details_thum_info .date .comment span {
  margin-left: 15px;
}
#blog_details .blog_details_item {
  position: relative;
  width: 260px;
  margin-top: 30px;
  margin-right: 25px;
}
#blog_details .blog_details_item .blog_details_item_img {
  width: 260px;
  height: 260px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#blog_details .blog_details_item .blog_details_item_img:hover a img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#blog_details .blog_details_item .blog_details_item_img:hover .social_links {
  visibility: visible;
  opacity: 1;
  right: 20px;
}
#blog_details .blog_details_item .blog_details_item_img a img {
  width: 260px;
  height: 260px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#blog_details .blog_details_item .blog_details_item_img .social_links {
  position: absolute;
  top: 25px;
  right: 0px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#blog_details .blog_details_item .blog_details_item_img .social_links a {
  display: block;
  margin-bottom: 7px;
}
#blog_details .blog_details_item .blog_details_item_img .social_links a i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  background: #2d3e50;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#blog_details .blog_details_item .blog_details_item_img .social_links a i:hover {
  background: #fbaa33;
}
#blog_details .blog_details_item .blog_details_item_info {
  position: absolute;
  bottom: 10px;
  color: #fff;
  z-index: 1;
}
#blog_details .blog_details_item .blog_details_item_info::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  padding-top: 13px;
  padding-right: 260px;
  padding-bottom: 69px;
  z-index: -1;
}
#blog_details .blog_details_item .blog_details_item_info p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 0 10px;
}
#blog_details .blog_details_item .blog_details_item_info a {
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  padding: 0 10px;
  color: #fff;
}

footer {
  background: url(../img/footer_bg.jpg);
  background-position: center;
  background-size: cover;
  height: 420px;
}
footer .footer_info {
  margin-top: 30px;
}
footer .footer_info img {
  margin-bottom: 30px;
}
footer .footer_info p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 1.7;
  margin-bottom: 30px;
}
footer .footer_info .social_links a {
  width: 40px;
  height: 40px;
}
footer .footer_info .social_links a i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  color: #2d3e50;
  margin-right: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .footer_info .social_links a i:hover {
  color: #fff;
  background: #fbaa33;
}
footer .quick_links {
  margin-top: 50px;
}
footer .quick_links h5 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 44px;
}
footer .quick_links .quick_links_list ul {
  margin-right: 55px;
}
footer .quick_links .quick_links_list ul li a {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 27px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .quick_links .quick_links_list ul li a:hover {
  text-decoration: underline;
}
footer .address {
  margin-top: 48px;
}
footer .address h5 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 44px;
}
footer .address .address_item {
  margin-bottom: 15px;
}
footer .address .address_item .icon i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  color: #2d3e50;
  margin-right: 20px;
}
footer .address .address_item .info span {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #fbaa33;
  margin-bottom: 7px;
}
footer .address .address_item .info p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
footer .address .address_item .info .contact a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-right: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .address .address_item .info .contact a:hover {
  text-decoration: underline;
}

.instra_img {
  height: 240px;
}
.instra_img .instra_img_shap img {
  height: 240px;
}
.instra_img .instra_img_item {
  width: 240px;
  height: 240px;
  overflow: hidden;
  position: relative;
}
.instra_img .instra_img_item:hover a img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.instra_img .instra_img_item:hover .ins_btn {
  visibility: visible;
  opacity: 1;
}
.instra_img .instra_img_item a img {
  width: 240px;
  height: 240px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.instra_img .instra_img_item .ins_btn {
  position: absolute;
  top: 100px;
  left: 30px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.instra_img .instra_img_item .ins_btn a {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #2d3e50;
  padding: 16px 20px;
  background: #fff;
}

#copyright {
  background: #2d3e50;
  z-index: 9999;
  padding: 14px 0;
  border-top: 2px solid #fff;
}
#copyright p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
#copyright p span {
  color: #fbaa33;
  text-transform: capitalize;
}

#about_banner {
  background: url(../img/Our_Courses_bg.jpg);
  background-position: center;
  background-size: cover;
  height: 250px;
  position: relative;
  z-index: 1;
  margin-bottom: 233px;
}
#about_banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
#about_banner .about_banner_content h5 {
  margin-top: 58px;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 10px;
}
#about_banner .about_banner_content p {
  font-size: 14px;
  font-weight: 400;
  color: #fbaa33;
  word-spacing: 5px;
}
#about_banner .about_banner_content p a {
  color: #fff;
}
#about_banner .about_banner_blog .banner_blog_thum {
  border-color: #d3d3d3;
  position: absolute;
  bottom: -140px;
}
#about_banner .about_banner_blog .banner_blog_thum .banner_blog_item {
  background: #f5f5f5;
  width: 365px;
  padding: 30px 0px;
  border-right: 1px solid #d3d3d3;
}
#about_banner .about_banner_blog .banner_blog_thum .banner_blog_item p {
  font-size: 24px;
  font-weight: 400;
  color: #444444;
  margin: 20px 0;
}
#about_banner .about_banner_blog .banner_blog_thum .banner_blog_item a {
  font-size: 14px;
  color: #999999;
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#about_banner .about_banner_blog .banner_blog_thum .banner_blog_item a:hover {
  color: #fbaa33;
}
#about_banner .about_banner_blog .banner_blog_thum .banner_blog_item a i {
  margin-left: 5px;
}

#about_content {
  margin-bottom: 100px;
}
#about_content .shap {
  margin-bottom: 5px;
}
#about_content .shap .span_1 {
  background: #fbaa33;
  height: 3px;
  width: 359px;
}
#about_content .shap .span_2 {
  background: #fbaa33;
  height: 3px;
  width: 7px;
}
#about_content .shap_2 .span_1 {
  background: #2d3e50;
  height: 3px;
  width: 7px;
}
#about_content .shap_2 .span_2 {
  background: #2d3e50;
  height: 3px;
  width: 359px;
}
#about_content .about_img_slider {
  position: relative;
}
#about_content .about_img_slider .about_img_slider_dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 9px;
  right: 50%;
}
#about_content .about_img_slider .about_img_slider_dots li button {
  background: none;
  font-size: 0;
  width: 7px;
  height: 7px;
  border: 1px solid #999999;
  border-radius: 50%;
  margin-right: 5px;
}
#about_content .about_content_para {
  margin-top: 22px;
}
#about_content .about_content_para p {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 30px;
}
#about_content .about_content_para_2 {
  margin-top: 22px;
}
#about_content .about_content_para_2 p {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  line-height: 1.7;
}
#about_content .about_content_para_3 {
  margin-top: 60px;
}
#about_content .about_content_para_3 p {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  line-height: 1.7;
  margin-bottom: 34px;
}
#about_content .about_content_img {
  margin-top: 58px;
}
#about_content .about_content_para_4 p {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  line-height: 1.7;
}
#about_content .about_btn {
  margin-top: 58px;
}
#about_content .about_btn a {
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  background: #2d3e50;
  text-transform: capitalize;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#about_content .about_btn a:hover {
  background: #fbaa33;
}

#our_courses {
  margin-bottom: 100px;
}
#our_courses .our_courses_item {
  padding: 18px;
  background: #f5f5f5;
  width: 350px;
  position: relative;
  margin-left: 0;
  margin-right: 30px;
  margin-bottom: 85px;
}
#our_courses .our_courses_item .courses_box_img {
  position: relative;
  overflow: hidden;
}
#our_courses .our_courses_item .courses_box_img:hover .overlay {
  visibility: visible;
  opacity: 1;
}
#our_courses .our_courses_item .courses_box_img:hover .overlay a {
  visibility: visible;
  opacity: 1;
}
#our_courses .our_courses_item .courses_box_img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#our_courses .our_courses_item .courses_box_img img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#our_courses .our_courses_item .courses_box_img .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#our_courses .our_courses_item .courses_box_img .overlay a {
  position: absolute;
  top: 40%;
  right: 40%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  background: #fbaa33;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#our_courses .our_courses_item .courses_box_profile {
  margin-top: 20px;
}
#our_courses .our_courses_item .courses_box_profile img {
  margin-right: 10px;
}
#our_courses .our_courses_item .courses_box_profile .name span {
  font-size: 13px;
  font-weight: 400;
  color: #444444;
}
#our_courses .our_courses_item .courses_box_profile .name p {
  font-size: 13px;
  font-weight: 400;
  color: #444444;
}
#our_courses .our_courses_item .courses_box_profile .ratting {
  margin-left: 30px;
}
#our_courses .our_courses_item .courses_box_profile .ratting .star {
  color: #fbaa33;
}
#our_courses .our_courses_item .courses_box_profile .ratting p {
  color: #999999;
  font-size: 13px;
  font-weight: 400;
}
#our_courses .our_courses_item .title {
  margin: 18px 0;
  font-size: 24px;
  font-weight: 400;
  color: #222222;
}
#our_courses .our_courses_item p {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  line-height: 1.7;
}
#our_courses .our_courses_item hr {
  margin-top: 30px;
  margin-bottom: 15px;
}
#our_courses .our_courses_item .course_info {
  margin-bottom: 28px;
}
#our_courses .our_courses_item .course_info .course_info_item {
  margin-right: 30px;
}
#our_courses .our_courses_item .course_info .course_info_item p {
  font-size: 12px;
  font-weight: 400;
  color: #999999;
}
#our_courses .our_courses_item .course_info .course_info_item span {
  font-size: 13px;
  font-weight: 400;
  color: #444444;
}
#our_courses .our_courses_item .course_btn a {
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: #2d3e50;
  border-radius: 10px;
  text-transform: capitalize;
  position: absolute;
  left: 118px;
  bottom: -34px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 100000000000000000000;
}
#our_courses .our_courses_item .course_btn a:hover {
  background: #fbaa33;
}

/* our event section css start */
#our_event {
  margin-bottom: 100px;
}
#our_event .our_event_blog .our_event_blog_item {
  background: #f5f5f5;
  padding: 19px;
  margin-bottom: 30px;
}
#our_event .our_event_blog .our_event_blog_item .event_blog_item_img {
  width: 212px !important;
  height: 212px;
  overflow: hidden;
  margin-right: 20px;
  position: relative;
}
#our_event .our_event_blog .our_event_blog_item .event_blog_item_img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#our_event .our_event_blog .our_event_blog_item .event_blog_item_img img {
  width: 212px;
  height: 212px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#our_event .our_event_blog .our_event_blog_item .event_blog_item_img .img_date {
  background: #3d7d33;
  color: #fff;
  padding: 10px 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 1;
}
#our_event .our_event_blog .our_event_blog_item .event_blog_item_info h5 a {
  font-size: 20px;
  font-weight: 700;
  color: #2d3e50;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#our_event .our_event_blog .our_event_blog_item .event_blog_item_info h5 a:hover {
  color: #fbaa33;
}
#our_event .our_event_blog .our_event_blog_item .event_blog_item_info p {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 13px;
}
#our_event .our_event_blog .our_event_blog_item .event_blog_item_info .time p {
  font-size: 13px;
  font-weight: 400;
  color: #777777;
  margin-right: 20px;
}
#our_event .our_event_blog .our_event_blog_item .event_blog_item_info .time p i {
  color: #2d3e50;
  margin-right: 5px;
}
#our_event .our_event_blog .our_event_blog_item .event_blog_item_info .event_btn a {
  display: inline-block;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: #2d3e50;
  text-transform: capitalize;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#our_event .our_event_blog .our_event_blog_item .event_blog_item_info .event_btn a:hover {
  background: #fbaa33;
}

/* our event section css end */
/* Event Details section start  */
#event_details {
  margin-bottom: 100px;
}
#event_details .event_details_info .event_details_info_img {
  position: relative;
}
#event_details .event_details_info .event_details_info_img span {
  background: #3d7d33;
  color: #fff;
  padding: 10px 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  line-height: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-weight: 700;
}
#event_details .event_details_info .event_details_info_content h5 {
  margin-top: 30px;
  margin-bottom: 10px;
}
#event_details .event_details_info .event_details_info_content h5 a {
  font-size: 20px;
  font-weight: 700;
  color: #2d3e50;
}
#event_details .event_details_info .event_details_info_content .star {
  color: #ffc712;
  margin-right: 30px;
}
#event_details .event_details_info .event_details_info_content .para p {
  font-size: 13px;
  font-weight: 400;
  color: #999999;
  margin-right: 17px;
}
#event_details .event_details_info .event_details_info_content .para_2 {
  margin-top: 28px;
}
#event_details .event_details_info .event_details_info_content .para_2 p {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  line-height: 1.7;
  margin-bottom: 30px;
}
#event_details .event_details_info .event_details_info_content .room .item_1 {
  margin-right: 20px;
}
#event_details .event_details_info .event_details_info_content .room .item_1 p {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}
#event_details .event_details_info .event_details_info_content .room .item_1 p i {
  margin-right: 5px;
  color: #2d3e50;
}
#event_details .event_details_info .event_details_info_content .event_details_btn {
  margin-top: 60px;
}
#event_details .event_details_info .event_details_info_content .event_details_btn a {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 400;
  background: #2d3e50;
  color: #fff;
  margin-right: 15px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#event_details .event_details_info .event_details_info_content .event_details_btn a:hover {
  background: #ffc712;
}
#event_details .event_details_blog h3 {
  font-size: 32px;
  font-weight: 700;
  color: #2d3e50;
  margin-bottom: 30px;
  text-transform: capitalize;
}
#event_details .event_details_blog .event_details_blog_item {
  background: #f5f5f5;
  padding: 19px;
  margin-bottom: 30px;
}
#event_details .event_details_blog .event_details_blog_item .event_blog_item_img {
  width: 212px !important;
  height: 212px;
  overflow: hidden;
  margin-right: 20px;
  position: relative;
}
#event_details .event_details_blog .event_details_blog_item .event_blog_item_img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#event_details .event_details_blog .event_details_blog_item .event_blog_item_img img {
  width: 212px;
  height: 212px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#event_details .event_details_blog .event_details_blog_item .event_blog_item_img .img_date {
  background: #3d7d33;
  color: #fff;
  padding: 10px 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 1;
}
#event_details .event_details_blog .event_details_blog_item .event_blog_item_info h5 a {
  font-size: 20px;
  font-weight: 700;
  color: #2d3e50;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#event_details .event_details_blog .event_details_blog_item .event_blog_item_info h5 a:hover {
  color: #fbaa33;
}
#event_details .event_details_blog .event_details_blog_item .event_blog_item_info p {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 13px;
}
#event_details .event_details_blog .event_details_blog_item .event_blog_item_info .time p {
  font-size: 13px;
  font-weight: 400;
  color: #777777;
  margin-right: 20px;
}
#event_details .event_details_blog .event_details_blog_item .event_blog_item_info .time p i {
  color: #2d3e50;
  margin-right: 5px;
}
#event_details .event_details_blog .event_details_blog_item .event_blog_item_info .event_btn a {
  display: inline-block;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: #2d3e50;
  text-transform: capitalize;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#event_details .event_details_blog .event_details_blog_item .event_blog_item_info .event_btn a:hover {
  background: #fbaa33;
}

/* Event Details section end  */
/* Teacher section start  */
#teacher .our_teacher_info {
  margin-bottom: 58px;
}

/* Teacher section end  *//*# sourceMappingURL=style.css.map */