


// about banner section css start 
#about_banner{
    background: url(../img/Our_Courses_bg.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
    position: relative;
    z-index: 1;
    margin-bottom: 233px;
    &::before{
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,0.60);
        z-index: -1;
    }
    .about_banner_content{
        h5{
            margin-top: 58px;
            font-size: 20px;
            font-weight: 400;
            text-transform: capitalize;
            color: #fff;
            margin-bottom: 10px;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            color: #fbaa33;
            word-spacing: 5px;
            a{
                color: #fff;
            }
        }
    }
    .about_banner_blog{
        .banner_blog_thum{
            border-color: #d3d3d3;
            position: absolute;
            bottom: -140px;
            .banner_blog_item{
                background: #f5f5f5;
                width: 365px;
                padding: 30px 0px;
                border-right: 1px solid #d3d3d3;
                p{
                    font-size: 24px;
                    font-weight: 400;
                    color: #444444;
                    margin: 20px 0;
                }
                a{
                    font-size: 14px;
                    color: #999999;
                    font-weight: 400;
                    transition: 0.3s;
                    &:hover{
                        color: #fbaa33;
                    }
                    i{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
// about banner section css start 
#about_content{
    // margin-top: 233px;
    margin-bottom: 100px;
    .shap{
        margin-bottom: 5px;
        .span_1{
            background: #fbaa33;
            height: 3px;
            width: 359px;
        }
        .span_2{
            background: #fbaa33;
            height: 3px;
            width: 7px;
        }
    }
    .shap_2{
        .span_1{
            background: #2d3e50;
            height: 3px;
            width: 7px;
        }
        .span_2{
            background: #2d3e50;
            height: 3px;
            width: 359px;
        }
    }
    .about_img_slider{
        position: relative;
        .about_img_slider_dots{
            display: flex;
            position: absolute;
            bottom: 9px;
            right: 50%;
            li button{
                background: none;
                font-size: 0;
                width: 7px;
                height: 7px;
                border: 1px solid #999999;
                border-radius: 50%;
                margin-right: 5px;
            }
        }
    }
    .about_content_para{
        margin-top: 22px;
        p{
            font-size: 14px;
            font-weight: 400;
            color: #444444;
            margin-bottom: 30px;
        }
    }
    .about_content_para_2{
        margin-top: 22px;
        p{
            font-size: 14px;
            font-weight: 400;
            color: #444444;
            line-height: 1.7;
        }
    }
    .about_content_para_3{
        margin-top: 60px;
        p{
            font-size: 14px;
            font-weight: 400;
            color: #444444;
            line-height: 1.7;
            margin-bottom: 34px;
        }
    }
    .about_content_img{
        margin-top: 58px;
    }
    .about_content_para_4{
        p{
            font-size: 14px;
            font-weight: 400;
            color: #444444;
            line-height: 1.7;
        }
    }
    .about_btn{
        margin-top: 58px;
        a{
            padding: 20px;
            font-size: 20px;
            font-weight: 400;
            color: #fff;
            background: #2d3e50;
            text-transform: capitalize;
            border-radius: 10px;
            transition: 0.3s;
            &:hover{
                background: #fbaa33;
            }
        }
    }
}