/* common css start  */
h1,h2,h3,h4,h5,h6,
ol,ul,p,small.span,button{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style-type: none;
}
a,a:hover{
    text-decoration: none;
}
body{
    font-family: 'Arimo', sans-serif;
}
/* common css end  */
 
// top ber section css start 
#topbar{
    background: #2d3e50;
    .topber_info{
        a{
            display: inline-block;
            margin-right: 12px;
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            padding: 13px 0;
            transition: 0.3s;
            &:hover{
                color: #fcbf65;
            }
            i{
                margin-right: 6px;
            }
        }
    }
    .topber_regster{
        a{
            display: inline-block;
            padding: 13px 0;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            text-transform: capitalize;
            margin-left: 5px;
            transition: 0.3s;
            &:hover{
                color: #fcbf65;
            }
        }
    }
}
// top ber section css end 
// Nav section css start 
.nav{
    .logo{
        img{
            display: inline-block;
            margin-top: -25px;
        }
    }
    .nav_ul{
        margin-left: 100px;
        .nav_li{
            padding: 40px 22px;
            a{
                font-size: 16px;
                font-weight: 400;
                text-transform: capitalize;
                color: #2d3e50;
                transition: 0.3s;
                &:hover{
                    color: #fcbf65;
                }
                &.n_active{
                    color: #fcbf65;
                }
            }
        }
    }
    .nav_btn{
        margin-left: 10px;
        a{
            padding: 19px;
            font-weight: 400;
            font-size: 20px;
            color: #fff;
            background: #fcbf65;
            border-radius: 10px;
            transition: 0.3s;
            &:hover{
                background: #2d3e50;
            }
        }
    }
}
// Nav section css end 
// Banner section css start 
#banner{
    position: relative;
    .banner_slider_icon{
        .banner_slider_icon_btn{
            border: none;
            background: none;
            position: absolute;
            // width: 67px;
            // height: 67px;
            // border: 2px solid #fff;
            // border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 99;
            &.prev{
                left: 30px;
            }
            &.next{
                right: 30px;
            }
            span{
                i{
                    font-size: 20px;
                    color: #fff;
                    width: 67px;
                    height: 67px;
                    line-height: 67px;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    transition: 0.3s;
                    &:hover{
                        background: #fbaa33;
                        color: #fff;
                        border-color: #fbaa33;
                    }
                }
            }
        }
    }
    .banner_slider{
        .banner_slider_item{
            background-position: center;
            background-size: cover;
            height: 646px;
            h4{
                font-size: 40px;
                font-weight: 400;
                color: #fff;
            }
            h2{
                font-size: 52px;
                font-weight: 700;
                color: #fff;
                margin-bottom: 28px;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                color: #fff;
                // width: 584px;
                margin-bottom: 58px;
                line-height: 1.7;
            }
            .b_btn{
                a{
                    padding: 20px;
                    color: #fff;
                    font-size: 20px;
                    font-weight: 400;
                    background: #2d3e50;
                    border-radius: 10px;
                    margin-right: 20px;
                    transition: 0.3s;
                    &:hover{
                        background: #fbaa33;
                    }
                }
            }
        }
    }
    .banner_blog{
        .banner_blog_thum{
            border-color: #d3d3d3;
            position: absolute;
            bottom: -140px;
            .banner_blog_item{
                background: #f5f5f5;
                width: 365px;
                padding: 30px 0px;
                border-right: 1px solid #d3d3d3;
                p{
                    font-size: 24px;
                    font-weight: 400;
                    color: #444444;
                    margin: 20px 0;
                }
                a{
                    font-size: 14px;
                    color: #999999;
                    font-weight: 400;
                    transition: 0.3s;
                    &:hover{
                        color: #fbaa33;
                    }
                    i{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
// Banner section css end 
// About Us section css start 
.title{
    h3{
        font-size: 32px;
        font-weight: 700;
        color: #2d3e50;
        margin-bottom: 20px;
    }
    p{
        width: 562px;
        font-size: 14px;
        font-weight: 400;
        color: #666666;
        line-height: 1.7;
        margin-bottom: 56px;
    }
}
#about{
    margin-top: 233px;
    .shap{
        margin-bottom: 5px;
        .span_1{
            background: #fbaa33;
            height: 3px;
            width: 359px;
        }
        .span_2{
            background: #fbaa33;
            height: 3px;
            width: 7px;
        }
    }
    .shap_2{
        .span_1{
            background: #2d3e50;
            height: 3px;
            width: 7px;
        }
        .span_2{
            background: #2d3e50;
            height: 3px;
            width: 359px;
        }
    }
    .about_img_slider{
        position: relative;
        .about_img_slider_dots{
            display: flex;
            position: absolute;
            bottom: 9px;
            right: 50%;
            li button{
                background: none;
                font-size: 0;
                width: 7px;
                height: 7px;
                border: 1px solid #999999;
                border-radius: 50%;
                margin-right: 5px;
            }
        }
    }
    .about_img_info{
        margin-top: 50px;
        p{
            font-size: 14px;
            font-weight: 400;
            color: #444444;
            line-height: 1.7;
            margin-bottom: 34px;
        }
        .a_btn{
            margin-top: 55px;
            a{
                padding: 19px;
                font-weight: 400;
                font-size: 20px;
                color: #fff;
                background: #fbaa33;
                border-radius: 10px;
                margin-right: 20px;
                transition: 0.3s;
                &:hover{
                    background: #2d3e50;
                }
            }
        }
    }
}
// About Us section css end 
// Counter Up section css start 
#counter_up{
    background: url(../img/counter_bg.jpg);
    background-position: center;
    background-size: cover;
    height: 168px;
    margin-top: 100px;
    .counter_up_item{
        padding: 40px 0;
        h3{
            font-size: 40px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 9px;
        }
        p{
            font-size: 24px;
            font-weight: 400;
            color: #fff;
            text-transform: capitalize;
        }
        .shap{
            .shap_1{
                background: #fbaa33;
                width: 50px;
                height: 3px;
                margin-right: 7px;
            }
            .shap_2{
                background: #fbaa33;
                width: 10px;
                height: 3px;
            }
        }
    }
}
// Counter Up section css end 
// Courses section css start 
#courses{
    margin-top: 100px;
    position: relative;
    margin-bottom: 100px;
    .course_box_slider_icon{
        .course_box_slider_icon_btn{
            border: none;
            background: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 99;
            &.prev{
                left: 30px;
            }
            &.next{
                right: 30px;
            }
            span{
                i{
                    font-size: 20px;
                    color: #2d3e50;
                    width: 67px;
                    height: 67px;
                    line-height: 67px;
                    border: 2px solid #2d3e50;
                    border-radius: 50%;
                    transition: 0.3s;
                    &:hover{
                        background: #fbaa33;
                        color: #fff;
                        border-color: #fbaa33;
                    }
                }
            }
        }
    }
    .course_box_slider{
        .courses_box{
            padding: 18px;
            background: #f5f5f5;
            width: 366px !important;
            position: relative;
            margin-left: 0;
            margin-right: 8px;
            .courses_box_img{
                position: relative;
                overflow: hidden;
                &:hover .overlay{
                    visibility: visible;
                    opacity: 1;
                }
                &:hover .overlay a{
                    visibility: visible;
                    opacity: 1;
                }
                &:hover img{
                    transform: scale(1.1);
                }
                img{
                    transform: scale(1);
                    transition: 0.3s;
                }
                .overlay{
                    position: absolute;
                    inset: 0;
                    background: rgba(0,0,0,0.70);
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s;
                    a{
                        position: absolute;
                        top: 40%;
                        right: 40%;
                        width: 50px;
                        height: 50px;
                        text-align: center;
                        line-height: 50px;
                        border-radius: 50%;
                        color: #fff;
                        font-size: 20px;
                        background: #fbaa33;
                        z-index: 9999;
                        visibility: hidden;
                        opacity: 0;
                        transition: 0.3s;
                    }
                }
            }
            .courses_box_profile{
                margin-top: 20px;
                img{
                    margin-right: 10px;
                }
                .name{
                    span{
                        font-size: 13px;
                        font-weight: 400;
                        color: #444444;
                    }
                    p{
                        font-size: 15px;
                        font-weight: 400;
                        color: #444444;
                    }
                }
                .ratting{
                    margin-left: 30px;
                    .star{
                        color: #fbaa33;
                    }
                    p{
                        color: #999999;
                        font-size: 13px;
                        font-weight: 400;
                    }
                }
            }
            .title{
                margin: 18px 0;
                font-size: 24px;
                font-weight: 400;
                color: #222222;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                color: #444444;
            }
            hr{
                margin-top: 30px;
                margin-bottom: 15px;
            }
            .course_info{
                margin-bottom: 28px;
                .course_info_item{
                    margin-right: 30px;
                    p{
                        font-size: 13px;
                        font-weight: 400;
                        color: #999999;
                    }
                    span{
                        font-size: 13px;
                        font-weight: 400;
                        color: #444444;
                    }
                }
            }
            .course_btn{
                a{
                    display: inline-block;
                    padding: 20px;
                    font-size: 16px;
                    font-weight: 400;
                    color: #fff;
                    background: #2d3e50;
                    border-radius: 10px;
                    text-transform: capitalize;
                    position: absolute;
                    left: 118px;
                    bottom: -34px;
                    transition: 0.3s;
                    z-index: 99999999999999999999;
                    &:hover{
                        background: #fbaa33;
                    }
                }
            }
        }
    }
}
// Courses section css end 
// Our Event section css start
#event{
    // margin-top: 100px;

    .event_blog{
        .event_blog_item{
            background: #f5f5f5;
            padding: 19px;
            margin-bottom: 30px;
            .event_blog_item_img{
                width: 212px !important;
                height: 212px;
                overflow: hidden;
                margin-right: 20px;
                &:hover img{
                    transform: scale(1.1);
                }
                img{
                    width: 212px;
                    height: 212px;
                    transform: scale(1);
                    transition: all 0.3s ease-in-out;
                }
            }
            .event_blog_item_info{
                h5{
                    a{
                        font-size: 20px;
                        font-weight: 700;
                        color: #2d3e50;
                        text-transform: capitalize;
                        line-height: 1.5;
                        margin-bottom: 10px;
                        transition: 0.3s;
                        &:hover{
                            color: #fbaa33;
                        }
                    }
                }
                p{
                    font-size: 14px;
                    font-weight: 400;
                    color: #444444;
                    margin-bottom: 13px;
                }
                .time{
                    p{
                        font-size: 13px;
                        font-weight: 400;
                        color: #777777;
                        margin-right: 20px;
                        i{
                            color: #2d3e50;
                            margin-right: 5px;
                        }
                    }
                }
                .event_btn{
                    a{
                        display: inline-block;
                        padding: 15px 20px;
                        font-size: 16px;
                        font-weight: 400;
                        color: #fff;
                        background: #2d3e50;
                        text-transform: capitalize;
                        border-radius: 10px;
                        transition: 0.3s;
                        &:hover{
                            background: #fbaa33;
                        }
                    }
                }
            }
        }
    }
} 
// Our Event section css end 
// Testimonial section css start 
#testimonial{
    margin-top: 100px;
    background: #f5f5f5;
    position: relative;
    padding: 58px 0;
    .testimonial_slider_icon{
        .testimonial_slider_icon_btn{
            border: none;
            background: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 99;
            &.prev{
                top: 380px;
                left: 30px;
            }
            &.next{
                top: 450px;
                left: 30px;
            }
            span{
                i{
                    font-size: 20px;
                    color: #fff;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    background: #2d3e50;
                    border-radius: 50%;
                    transition: 0.3s;
                    &:hover{
                        background: #fbaa33;
                        color: #fff;
                        border-color: #fbaa33;
                    }
                }
            }
        }
    }
    .testimonial_slider{
        .testimonial_slider_item{
            .testimonial_slider_item_img{
                width: 300px;
                margin-right: 20px;
                .shap{
                        margin-bottom: 5px;
                        .span_1{
                            background: #fbaa33;
                            height: 3px;
                            width: 209px;
                        }
                        .span_2{
                            background: #fbaa33;
                            height: 3px;
                            width: 7px;
                        }
                    }
                    .shap_2{
                            .span_1{
                                background: #2d3e50;
                                height: 3px;
                                width: 7px;
                            }
                            .span_2{
                                background: #2d3e50;
                                height: 3px;
                                width: 209px;
                            }
                        }
            }
            .testimonial_slider_item_info{
                width: 419px;
                margin-right: 40px;
                p{
                    margin-top: 67px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #444444;
                    text-align: justify;
                    line-height: 1.5;
                    margin-bottom: 30px;
                }
                h5{
                    font-size: 20px;
                    font-weight: 700;
                    color: #444444;
                    margin-left: 10px;
                    margin-bottom: 15px;
                    span{
                        font-size: 14px;
                        font-weight: 400;
                        color: #444444;
                    }
                }
                .star{
                    margin-left: 10px;
                    color: #fbaa33;
                }
            }
            .testimonial_slider_item_qna{
                width: 370px;
                .qna_select{
                    .para{
                        width: 370px !important;
                    }
                }
            }
        }
    }

}
// Testimonial section css end 
// Teachers section css start 
#teacher{
    margin-top: 100px;
    .teacher_info{
        position: relative;
        .teacher_info_img{
            position: relative;
            width: 268px;
                height: 300px;
            &:hover .social_icon{
                visibility: visible;
                opacity: 1;
            }
            .teacher_info_img_item{
                width: 268px;
                height: 300px;
                overflow: hidden;
                &:hover img{
                    transform: scale(1.1);
                }
                img{
                    width: 268px;
                    height: 300px;
                    transform: scale(1);
                    transition: all 0.3s ease-in-out;
                }
            }
            .social_icon{
                position: absolute;
                right: 30px;
                bottom: -15px;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease-in-out;
                a{
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    margin-right: 15px;
                    i{
                        width: 40px;
                        height: 40px;
                        color: #fff;
                        background: #2d3e50;
                        border-radius: 50%;
                        line-height: 40px;
                        text-align: center;
                        transition: 0.3s;
                        &:hover{
                            background: #fbaa33;
                        }
                    }
                }
            }
        }
        .teacher_info_name{
            margin-top: 25px;
            h5{
                font-size: 20px;
                font-weight: 700;
                color: #444444;
                margin-bottom: 10px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: #444444;
            }
            .shap{
                margin-bottom: 5px;
                .span_1{
                    background: #fbaa33;
                    height: 3px;
                    width: 50px;
                }
                .span_2{
                    background: #fbaa33;
                    height: 3px;
                    width: 10px;
                }
            }
        }
    }
}
// Teachers section css end 
// Blog section css start 
#blog{
    background: url(../img/blog_bg.jpg);
    background-position: center;
    background-size: cover;
    height: 298px;
    margin-top: 100px;
    .blog_title{
        padding-top: 30px;
        h3{
            color: #fff;
        }
        p{
            color: #fff;
        }
    }
}
// Blog section css end 
// Blog Details section css start 
#blog_details{
    position: relative;
    top: -127px;
    .blog_details_thum{
        position: relative;
        width: 550px;
        margin-right: 20px;
        .blog_details_thum_img{
            width: 550px;
            height: 448px;
            overflow: hidden;
            position: relative;
            transition: 0.3s;
            &:hover a img{
                transform: scale(1.1);
            }
            &:hover .social_links{
                visibility: visible;
                opacity: 1;
                right: 20px;
            }
            a{
                img{
                    width: 550px;
                    height: 448px;
                    transform: scale(1);
                    transition: 0.3s;
                }
            }
            .social_links{
                position: absolute;
                top: 40px;
                right: 0px;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s;
                a{
                    display: block;
                    margin-bottom: 10px;
                    // &:nth-child(1){
                    //     transition-delay: 0.1s;
                    // }
                    // &:nth-child(2){
                    //     transition-delay: 0.2s;
                    // }
                    // &:nth-child(3){
                    //     transition-delay: 0.3s;
                    // }
                    // &:nth-child(4){
                    //     transition-delay: 0.4s;
                    // }
                    i{
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        border-radius: 50%;
                        text-align: center;
                        background: #2d3e50;
                        color: #fff;
                        transition: 0.3s;
                        &:hover{
                            background: #fbaa33;
                        }
                    }
                }
            }
        }
        .blog_details_thum_info{
            // padding: 0 26px;
            position: absolute;
            bottom: 20px;
            // background: rgba(0,0,0,0.40);
            color: #fff;
            z-index: 1;
            &::before{
                content: '';
                position: absolute;
                // inset: 0;
                background: rgba(0,0,0,0.40);
                padding: 53px 0;
                padding-left: 108.5%;
                padding-right: 8px;
                z-index: -1;
            }
            p{
                font-size: 20px;
                font-weight: 400;
                color: #fff;
                padding: 0 26px;
            }
            a{
                display: inline-block;
                font-size: 13px;
                font-weight: 400;
                margin-bottom: 10px;
                padding: 0 26px;
                color: #fff;
            }
            .date{
                padding: 0 26px;
                color: #fff;
                span{
                    font-size: 13px;
                    font-weight: 400;
                    i{
                        margin-right: 8px;
                    }
                }
                .comment{
                    span{
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    .blog_details_item{
        position: relative;
        width: 260px;
        margin-top: 30px;
        margin-right: 25px;
        .blog_details_item_img{
            width: 260px;
            height: 260px;
            overflow: hidden;
            position: relative;
            transition: 0.3s;
            &:hover a img{
                transform: scale(1.1);
            }
            &:hover .social_links{
                visibility: visible;
                opacity: 1;
                right: 20px;
            }
            a{
                img{
                    width: 260px;
                    height: 260px;
                    transform: scale(1);
                    transition: 0.3s;
                }
            }
            .social_links{
                position: absolute;
                top: 25px;
                right: 0px;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s;
                a{
                    display: block;
                    margin-bottom: 7px;
                    i{
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        border-radius: 50%;
                        text-align: center;
                        background: #2d3e50;
                        color: #fff;
                        transition: 0.3s;
                        &:hover{
                            background: #fbaa33;
                        }
                    }
                }
            }
        }
        .blog_details_item_info{
            position: absolute;
            bottom: 10px;
            color: #fff;
            z-index: 1;
            &::before{
                content: '';
                position: absolute;
                background: rgba(0,0,0,0.40);
                padding-top: 13px;
                padding-right: 260px;
                padding-bottom: 69px;
                z-index: -1;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: #fff;
                padding: 0 10px;
            }
            a{
                display: inline-block;
                font-size: 13px;
                font-weight: 400;
                padding: 0 10px;
                color: #fff;
            }
        }
    }
}
// Blog Details section css end 
// Footer section css start 
footer{
    background: url(../img/footer_bg.jpg);
    background-position: center;
    background-size: cover;
    height: 420px;
    .footer_info{
        margin-top: 30px;
        img{
            margin-bottom: 30px;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            line-height: 1.7;
            margin-bottom: 30px;
        }
        .social_links{
            a{
                width: 40px;
                height: 40px;
                i{
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background: #fff;
                    border-radius: 50%; 
                    color: #2d3e50;
                    margin-right: 14px;
                    transition: 0.3s;
                    &:hover{
                        color: #fff;
                        background: #fbaa33;
                    }
                }
            }
        }
    }
    .quick_links{
        margin-top: 50px;
        h5{
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 44px;
        }
        .quick_links_list{
            ul{
                margin-right: 55px;
                li{
                    a{
                        display: inline-block;
                        font-size: 16px;
                        font-weight: 400;
                        color: #fff;
                        margin-bottom: 27px;
                        transition: 0.3s;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .address{
        margin-top: 48px;
        h5{
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            text-transform: capitalize;
            margin-bottom: 44px;
        }
        .address_item{
            margin-bottom: 15px;
            .icon{
                i{
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    border-radius: 50%;
                    background: #fff;
                    color: #2d3e50;
                    margin-right: 20px;
                }
            }
            .info{
                span{
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 400;
                    color: #fbaa33;
                    margin-bottom: 7px;
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    color: #fff;
                }
                .contact{
                    a{
                        font-size: 16px;
                        font-weight: 400;
                        color: #fff;
                        margin-right: 3px;
                        transition: 0.3s;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
// Footer section css end 
// Instagram Img section css start 
.instra_img{
    height: 240px;
    .instra_img_shap{
        img{
            height: 240px;
        }
    }
    .instra_img_item{
        width: 240px;
        height: 240px;
        overflow: hidden;
        position: relative;
        &:hover a img{
            transform: scale(1.1);
        }
        &:hover .ins_btn{
            visibility: visible;
            opacity: 1;
        }
        a{
            img{
                width: 240px;
                height: 240px;
                transform: scale(1);
                transition: 0.3s;
            }
        }
        .ins_btn{
            position: absolute;
            top: 100px;
            left: 30px;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease-in;
            a{
                display: inline-block;
                font-size: 14px;
                font-weight: 400;
                color: #2d3e50;
                padding: 16px 20px;
                background: #fff;
            }
        }
    }
}
#copyright{
    background: #2d3e50;
    z-index: 9999;
    padding: 14px 0;
    border-top: 2px solid #fff;
    p{
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        span{
            color: #fbaa33;
            text-transform: capitalize;
        }
    }
}
// Instagram Img section css end 
@import 'about';
@import 'course';
@import 'event';
@import 'eventdetails';
@import 'teacher';
@import 'event_details_2';
@import 'register';
@import 'signin';


